version: "3.2"

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: piston-custom
    container_name: piston_api
    restart: always
    privileged: true
    ports:
      - "2000:2000"
    volumes:
      - ./data/piston/packages:/piston/packages
    tmpfs:
      - /tmp:exec
