version: "3.2"

services:
  api:
    image: ntut/piston:latest
    container_name: piston_api
    restart: always
    privileged: true
    ports:
      - 2000:2000
    volumes:
      - ./data/piston/packages:/piston/packages
    tmpfs:
      - /tmp:exec